<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.rmen.android.palidamuerte"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <application
        android:name="ca.rmen.android.palidamuerte.app.PalidaMuerteApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.rmen.android.palidamuerte.PoemListActivity"
            android:label="@string/app_name"
            android:parentActivityName="ca.rmen.android.palidamuerte.CategoriesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.palidamuerte.CategoriesActivity" />
        </activity>
        <activity
            android:name="ca.rmen.android.palidamuerte.PoemDetailActivity"
            android:parentActivityName="ca.rmen.android.palidamuerte.PoemListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.rmen.android.palidamuerte.PoemListActivity" />
        </activity>

        <provider
            android:name="ca.rmen.android.palidamuerte.provider.PalidaMuerteProvider"
            android:authorities="ca.rmen.android.palidamuerte.provider"
            android:exported="false" />

        <activity
            android:name="ca.rmen.android.palidamuerte.CategoriesActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.rmen.android.palidamuerte.AboutActivity"
            android:label="@string/about" >
        </activity>
    </application>

</manifest>